<script defer src="files/cookies-popup/cookies-popup.js?apiKey={{apiKey}}"></script>
<link rel="stylesheet" href="files/cookies-popup/cookies-popup.css?apiKey={{apiKey}}">
</link>

<div id="cookies">
    <h1 id="heading"></h1>
    <p><span id="caption"></span><a id="learn-more">Learn More</a></p>
    <button id="accept-button">Accept</button>
</div>