<script defer src="files/scroll-to-top/scroll-to-top.js?apiKey={{apiKey}}"></script>
<link rel="stylesheet" href="files/scroll-to-top/scroll-to-top.css?apiKey={{apiKey}}">
</link>

<div id="button" onclick="scroll()">
    <img class="icon" src="files/scroll-to-top/icons/default.svg?apiKey={{apiKey}}" alt="Scroll to top">
</div>