a{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#cookies{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    margin-bottom: 1em;
}

button{
    background-color: black;
    color: white;
    border: none;
    padding: .5em 1em;
    margin: 1em 0;
    right: 0;
    cursor: pointer;
}