.landing-page {
  font-size: 1rem;
}

.landing-page * {
  font-weight: 300;
}

.landing-page .btn {
  font-weight: 300;
  border: 1px solid white;
  border-radius: 12px;

  &:hover {
    background-color: white;
    color: black;
  }

  &.btn-join {
    background-color: #2d845b;
    border: none;
    &:hover {
      background-color: #37d58b;
      color: black;
    }
  }

  &.btn-more {
    background-color: #2d7f84;
    border: none;
    &:hover {
      background-color: #30b4bb;
      color: black;
    }
  }
}
