.dashboard * {
  font-weight: 500;
}

.dashboard {
  min-height: 100vh;
  background-color: var(--dashboard-background) !important;
  position: absolute;
  width: 100%;
}

.dashboard-content {
  background-color: var(--dashboard-background) !important;
  width: calc(100vw - 19rem - 3px);
  padding-left: 17rem;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  transition: width 500ms ease, padding 500ms ease;
}

.dashboard.extended .dashboard-content {
  padding-left: 6rem;
  width: calc(100vw - 7rem);
}

.dashboard-status {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2em;
}

.dashboard-settings {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  & > * {
    cursor: pointer;
    transition: background 250ms ease;
  }

  & > :hover {
    background-color: var(--dashboard-container-hover);
  }
}

.dashboard-status > * {
  flex: 1;
}

.dashboard-grid {
  display: grid;
  gap: 1em;
}

.dashboard-collumns {
  grid-template-columns: 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(35em, 1fr)); */
}

.dashboard-container {
  position: relative;

  width: calc(100% - 2rem - 3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: var(--dashboard-container);
  color: var(--dashboard-text);
  text-shadow: var(--dashboard-shadow);
  padding: 0.5em 1em;
  font-weight: 500;
  border-radius: 7px;
  min-width: 0px; /* To fix the grid overflow */
  box-shadow: -4px 4px 10px 0 rgb(0 0 0 / 20%);

  & > div {
    width: 100%;
  }

  &.button {
    width: fit-content;
    padding: 0.25em 0.5em;

    &.selected {
      background-color: var(--dashboard-container-acitve);
    }
  }

  &.analytics {
    display: flex;
    align-items: start;
    gap: 0;

    & .analytics-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }
    &:hover .dashboard-settings-group {
      opacity: 1;
    }

    & .analytics-title {
      color: #eee;
      font-weight: 500;
      font-size: 1rem;
    }

    .analytics-main-value {
      font-size: 1.8rem;
      font-weight: 500;
      font-family: Arial, Helvetica, sans-serif;
    }

    & .chart-container {
      max-height: 50vh;
      min-height: 40vh;
      height: 100%;
    }

    & .analytics-list {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    & .analytics-list-item {
      background-color: var(--dashboard-container-hover);
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    & .analytics-item-with-stats{
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

/* TODO ANALYTICS.css BELOW AND FEW LINES ABOVE */

.dashboard-settings-group {
  --border-radius: 0.6rem;

  display: flex;
  box-shadow: #00000060 -2px 2px 10px;

  height: fit-content;
  width: fit-content;
  border-radius: var(--border-radius);

  border: 1px solid var(--dashboard-container);
  background: var(--dashboard-container);

  margin-left: auto;

  & > span {
    font-size: 1rem;
    padding: 0.75rem 0.75rem;
    border-radius: var(--border-radius);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background 250ms ease, color 250ms ease;

    color: #aaa;
    & svg * {
      transition: fill 250ms ease, stroke 250ms ease;
      fill: #aaa;
      stroke: #aaa;
    }

    &.selected {
      background: var(--dashboard-container-acitve);
      color: white;
      & svg * {
        fill: white;
        stroke: white;
      }
    }

    &:not(.selected):hover {
      background: var(--dashboard-container-hover);
    }
  }
}

.dashboard-settings-group.transparent {
  padding: 0;
  opacity: 0;
  transition: opacity 250ms ease;
  box-shadow: #00000040 -2px 2px 10px;

  & span {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    color: #aaa;
    &.selected {
      color: white;
      background: #aaa;
    }
  }
}
