.assistant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.assistant-input {
  display: flex;
  color: inherit;
}
.assistant-input input {
  padding: 0.5rem 1rem;
  border: none;
  width: 100%;
  background-color: inherit;
  color: inherit;
}

.assistant-input input::placeholder{
  color: inherit;
}

.assistant-input button {
  padding: 0.5rem 1rem;
  background-color: inherit;
  color: inherit;
}

.assistant-messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 0.75rem;
}

.assistant-message {
  max-width: 80%;
  text-wrap: wrap;
  padding: 0.25rem 0.5rem;
  margin: 0 1rem;
  width: fit-content;
}

.assistant-message--assistant {
  background-color: #ececec;
  border-radius: 10px;
}

.assistant-message--assistant::before {
  content: "BOT";
  margin-bottom: 0.25rem;
  font-weight: 400;
  display: block;
}

.assistant-message--user {
  width: max-content;
  align-self: end;
  background-color: #579ffb;
  color: white;
  border-radius: 10px;
}

.assistant-message--user::before {
  content: "USER";
  margin-bottom: 0.25rem;
  font-weight: 400;
  display: block;
}
