#fail-message {
  display: none;
  color: red;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin: 1em 0;
  right: 0;
  cursor: pointer;
}

.exit {
  background-color: red;
}

#birthday {
  margin-top: 10px;
}

select {
  width: 100px;
  border: 1px solid black;
  padding: 0.5em 1em;
  margin: 2px;
  cursor: pointer;
}
