.clean-clock {
  position: relative;

  /* BORDER AND MARGIN */
  width: calc(100% - 20px);
  height: calc(100% - 20px);

  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  background: #ffffff;
  border: 5px solid white;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.clean-minute,
.clean-hour,
.clean-second {
  position: absolute;

  height: 30%;
  width: 6px;
  translate: 0 -50%;

  background: black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

  transform-origin: bottom center;
  rotate: 0deg;
}

.clean-minute {
  height: 40%;
  width: 4px;
}

.clean-second {
  height: 35%;
  width: 2px;

  border-radius: 4px;
  background: #ff4b3e;
}

.clean-dot {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 100px;
  margin: auto;
}
