.modal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
  box-shadow: inset 0px 0px 11px #00000050;
}

.modal *::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.modal *::-webkit-scrollbar-track {
  /* background:  rgb(17, 126, 9); */
  background: #4e6c50;
}

/* Handle */
.modal *::-webkit-scrollbar-thumb {
  background: #ffc578;
  border-radius: 4px;
}

/* Handle on hover */
.modal *::-webkit-scrollbar-thumb:hover {
  background: #fcb251;
}


.content {
  display: flex;
  flex-direction: column;

  z-index: 999;

  max-height: 80vh;
  aspect-ratio: 16/5;

  background-color: var(--background);
  border-radius: 1rem;
}

.container{
  display: flex;
  max-height: 80vh;
  width: 100%;
}

.title {
  margin-bottom: .5rem;
}

.icon{
  padding: 1rem;
  padding-right: 0;
  width: 2rem;
  aspect-ratio: 1;
}

.body {
  max-width: 45ch;
  padding: 1rem;
  width: 100%;
}

.actionButtons {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  gap: 1rem;

  margin-top: auto;

  width: 100%;
  padding: 1rem;
  padding-right: 2rem;

  box-sizing: border-box;
  border-radius: 0 0 1rem 1rem;

  background-color: rgba(0, 0, 0, 0.1);
}
